{% extends "base.html.twig" %}

{% block title %}Allocations{% endblock %}

{% block content %}

{% if noinfo %}

    <div class="alert alert-danger">
        <strong>Error</strong> Could not fetch allocations info!
    </div>

{% else %}

    <p><strong>Allocations</strong> are the result of successful evaluations and encapsulate a task run.</p>

    {{ include('partial/allocations.html.twig') }}

{% endif %}

{% endblock %}