<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% block title %}{% endblock %} - Nomad</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/bootstrap.min.css" />
        <link rel="stylesheet" href="static/simple-sidebar.css">
        <link rel="stylesheet" href="static/nomad.css">
        <script src="static/jquery.min.js"></script>
        <script src="static/bootstrap.min.js"></script>
    </head>
    <body role="document">
        <div id="wrapper">
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li class="sidebar-brand"><a href="/"><div class="cube"><span class="face top"></span><span class="face left"></span><span class="face right"></span></div>Nomad</a></li>
                    <li><a href="servers.php">Servers</a></li>
                    <li><a href="nodes.php">Nodes</a></li>
                    <li><a href="jobs.php">Jobs</a></li>
                    <li><a href="allocations.php">Allocations</a></li>
                    <li><a href="evaluations.php">Evaluations</a></li>
                </ul>
            </div>
            <div id="page-content-wrapper">
                <div class="container-fluid">

                    <ol class="breadcrumb">
                        {% for name, url in crumbs %}
                        <li><a href="{{ url }}">{{ name }}</a></li>
                        {% endfor %}
                        <li class="active">{{ block('title') }}</li>
                    </ol>

                    {% block content %}{% endblock %}

                    {{ include('partial/raw.html.twig') }}

                </div>
                <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Menu</a>
            </div>
        </div>
        <script>
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
        </script>
    </body>
</html>
