{% extends "base.html.twig" %}

{% block title %}Evaluations{% endblock %}

{% block content %}

{% if noinfo %}

    <div class="alert alert-danger">
        <strong>Error</strong> Could not fetch evaluations info!
    </div>

{% else %}

    <p><strong>Evaluations</strong> map out allocation changes to keep the "desired state" (running all jobs) current.</p>

    {{ include('partial/evaluations.html.twig') }}

{% endif %}

{% endblock %}