{% extends "base.html.twig" %}

{% block title %}Evaluations{% endblock %}

{% block content %}

{% if noinfo %}

    <div class="alert alert-danger">
        <strong>Error</strong> Could not fetch evaluations info!
    </div>

{% else %}

    {{ include('partial/evaluations.html.twig') }}

{% endif %}

{% endblock %}