{% extends "base.html.twig" %}

{% block title %}Overview{% endblock %}

{% block content %}

{% if noinfo %}

    <div class="alert alert-danger">
        <strong>Error</strong> Could not fetch node info!
    </div>

{% else %}

    <p>@ {{ baseurl }}</p>
    <p>Put Fun Stuff Here</p>
    <p>Mostly, I'm thinking it'd be good to see "What Needs Attention". For example, find and show any jobs with bad allocations/evaluations and what went wrong</p>

{% endif %}

{% endblock %}